@mixin font ($fontWeight, $fontSize, $lineHeight){
    font-family: "Inter";
    font-style: normal;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: #cde1f0;
}

@mixin flex ($justify, $align, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}


.portfolio__buttons {
    margin: 24px auto 0 auto;
    max-width: 958px;
    @include flex (center, baseline, wrap);
    gap: 22px 26px;
}

.portfolio__button {
    @include font (400, 18px, 22px);
    width: 220px;
    height: 50px;
    padding: 14px 0 18px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    color: #000;
}