$backgroundcolor_pink: rgba(246, 233, 233, 1);
$backgroundcolor_orang: rgba(240, 231, 223, 1);
$color_font: rgba(249, 119, 119, 1);
$color_button: rgba(249, 119, 119, 0.67);
$color_fon: rgba(217, 217, 217, 1);
$color_dark_pink: rgba(144, 64, 64, 1);
$color_form: rgba(0, 0, 0, 0.2);