.calculator{
    width: 1024px;
    margin: auto;
    padding-top: 30px;
    padding-left: 130px;
}
.calc_portfolio_text{
    font-family: 'Inika';
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 30px;
}
.calc_col_text{
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}
.calc{
    margin-top: 35px;
    display: flex;
    gap: 125px;
}
.calc1{
    display: flex;
}

.part1_col1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.calc_but{
    background-color: $color_button;
    width: 201px;
    height: 47px;
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    border-radius: 4px;
    transition: color 0.1s solid;
}
.part1_col2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 15px;
}
.part1_col3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.calc_input{
    width: 82px;
    height: 56px;
    border-radius: 20px;
    margin-top: -5px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}
.part1_col4{
    display: flex;
    flex-direction: column;
    gap: 35px;

}
.calc_total{
    width: 378px;
    height: 99px;
    border-radius: 20px;
    border: 3px solid white;
    color: white;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
margin-top: 110px;
margin-left: -100px;
}
.final{
    margin-top: 44px;
    margin-right: 44px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.final1{
    color: white;
   text-align: right;
}
.basement_calc{
    margin: auto;
}