.container {
  max-width: 1024px;
  margin: 0px auto;
}

.body {
  font-family: "IM FELL English";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 233, 233);
}

ul,
li {
  list-style: none;
}

input,
button {
  border: none;
}

button,
input[type=submit] {
  cursor: pointer;
  background: none;
}

input:focus,
button:focus {
  outline: none;
}

h1 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 63px;
}

h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

h5 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

p {
  font-family: "IM FELL English";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
}

.button {
  background-color: rgba(249, 119, 119, 0.67);
  width: 201px;
  height: 47px;
  font-family: "IM FELL English";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  border-radius: 4px;
  transition: color 0.1s solid;
}
.button:hover {
  color: white;
}

.button__mini {
  width: 136px;
  height: 50px;
  border: 1px solid black;
  border-radius: 11px;
  background-color: rgb(246, 233, 233);
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  transition: all 0.1s ease-in;
}
.button__mini:active {
  border: 1px solid rgb(217, 217, 217);
  background-color: rgb(217, 217, 217);
}

.header {
  background-color: rgb(246, 233, 233);
}

.header__text__img {
  display: flex;
  margin-top: 56px;
}

.header__text {
  text-align: center;
  margin-top: 84px;
}
.header__text h1 {
  margin-left: 24px;
}

.text__2 {
  margin-top: 36px;
  width: 379px;
  height: 83px;
  margin-left: 63px;
}

.header__button {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 415px;
  margin-left: 76px;
}

.header__lineal {
  background-color: black;
  width: 64px;
  height: 1px;
}

.navigation {
  padding-left: 20px;
  width: 984px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.navigation__menu ul {
  display: flex;
  justify-content: space-between;
}
.navigation__menu a {
  text-decoration: none;
  color: inherit;
}
.navigation__menu a:hover {
  color: rgb(144, 64, 64);
}
.navigation__menu li {
  margin-right: 20px;
}

.warm {
  margin-top: 74px;
}

.warm__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warm__row h1 {
  color: rgb(249, 119, 119);
}

.warm__text {
  width: 926px;
  text-align: center;
  margin-top: 32px;
}

.warm__text::after {
  content: "";
  width: 358px;
  background-color: black;
  height: 1px;
  display: block;
  margin: 27px auto 0;
}

.warm__img__row {
  display: flex;
  justify-content: space-between;
  width: 771px;
  margin-top: 41px;
}

.services {
  margin-top: 201px;
  position: relative;
}
.services h1 {
  text-align: center;
}

.services__row {
  margin-bottom: 50px;
}

.button__row {
  right: 41px;
  position: absolute;
  margin-top: -30px;
}

.services__block {
  border: 1px solid black;
  border-radius: 7px;
  background-color: rgb(217, 217, 217);
  width: 381px;
  height: 211px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__block1 {
  width: 381px;
  height: 211px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.services__blok__row {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  width: 890px;
  height: 462px;
}

.services__lineal {
  border-left: 1px solid black;
  height: 462px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 114px;
}

.masters {
  margin-top: 126px;
  margin-bottom: 26px;
}
.masters h1 {
  text-align: center;
}

.masters__row {
  height: 566px;
  position: relative;
  margin-top: 27px;
  display: flex;
  padding-left: 34px;
  padding-right: 34px;
}

.master__text {
  width: 296px;
  position: absolute;
  top: 97px;
  right: 47px;
}
.master__text p {
  text-align: center;
}

.ours__masters__img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 592px;
}

.video {
  margin-top: 66px;
}
.video h1 {
  text-align: center;
}

.video__img video {
  width: 900px;
  height: 500px;
  padding: 62px;
}

.price {
  margin-top: 54px;
  position: relative;
}
.price h1 {
  text-align: center;
}

.price__button__row {
  right: 46px;
  position: absolute;
  margin-top: -30px;
}

.price__blocks {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  margin-top: 73px;
  padding-left: 37px;
}

.price__block {
  background-color: rgb(217, 217, 217);
  width: 217px;
  height: 441px;
  border: 1px solid black;
  border-radius: 7px;
}

.icon__text__price {
  align-items: center;
}
.icon__text__price img {
  width: 80px;
  padding: 32px 69px 35px 69px;
}
.icon__text__price h2 {
  text-align: center;
}

.price__column {
  display: flex;
  justify-content: space-between;
  padding: 0px 14px 0px 14px;
  margin-top: 34px;
}

.price__price {
  color: rgb(144, 64, 64);
}/*# sourceMappingURL=style.css.map */