.contacts {
    margin-top: 151px;
  
    h1 {
      text-align: center;
    }
  }
  
  .contacts__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 67px;
  }
  
  .form {
    li {
      margin: 0px 0px 13px 58px;
    }
  
    input {
      font-family: 'IM FELL English';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 38px;
      padding-left: 19px;
      padding-right: 10px;
    }
  
    input::placeholder {
  
      color: black;
    }
  }
  
  .contacts__input {
    width: 417px;
    height: 61px;
    background-color: $color_form;
    border: 1px solid black;
    border-radius: 7px;
  }
  
  .contacts__input__big {
    width: 417px;
    height: 124px;
    background-color: $color_form;
    border: 1px solid black;
    border-radius: 7px;
  }
  
  .contacts__button {
    margin-left: 158px;
    margin-top: 58px;
  }