.navigation {
    padding-left: 20px;
    max-width: 984px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .navigation__menu {
    display: flex;
    gap: 20px;
    ul {
      display: flex;
      justify-content: space-between;
  
    }
  
    a {
      text-decoration: none;
      color: inherit;
  
      &:hover {
        color: $color_dark_pink;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navigation {
      padding-left: 44px;
      margin-top: 23px;
      padding-right: 77px;
    }
  }

  @media screen and (max-width: 320px) {
    .navigation {
      padding-left: 26px;
      margin-top: 21px;
    }
    .header__title{
      display: none;
    }
    .navigation__menu {
      display: none;
      gap: 20px;
      ul {
        display: flex;
        justify-content: space-between;
    
      }
    
      a {
        text-decoration: none;
        color: inherit;
    
        &:hover {
          color: $color_dark_pink;
        }
      }
  }
}